<h2>Angular File Upload</h2>
<form (submit)="sendFile()" id="upload_form" enctype="multipart/form-data" method="post">
    <input #inputFile type="file" name="file1" id="file1"><br>
    <progress #progressBar id="progressBar" value="0" max="100" style="width:300px;"></progress>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <h3 id="status">{{ status }}</h3>
    <p id="loaded_n_total">{{ uploadStatus }}</p>
    <mat-divider></mat-divider>
    <button mat-button color="primary">Upload</button>
</form>
