﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Use the form to upload some files using VanillaJS!</p>
    <form id="upload_form" enctype="multipart/form-data" method="put">
        <input type="file" name="uploadFile" id="uploadFileInput"><br>
        <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
        <h3 id="status"></h3>
        <p id="loaded_n_total"></p>
        <hr />
        <button type="submit">Upload file</button>
        <button id="cancel_button" type="button">Cancel</button>
    </form>
</div>
